body{    
    overflow-x: hidden;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;    
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    border-right: 1px dotted;
    overflow-y: scroll;    
    padding-bottom: 5rem;    
    margin-top: 5%;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.5s;
}

#sidebar.active{
    margin-left: -17rem;    
}

#content.active {
    width: 100%;
    margin: 0;
}

.bg-color {
    background-color: rgb(224, 224, 224);    
}

@media (max-width: 768px){
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active{
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }

    .mobileViewText {
        font-size: 12px;
    }
}

/* @media (max-width: 464px){ 
    .mobileViewText {
        font-size: 10px;
    }
}

@media (max-width: 991.98px) {
    .mobileViewText {
        font-size: 16px;
    }
}

@media (max-width: 1199.98px) {
    .mobileViewText {
        font-size: 16px;
    }
} */


/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .mobileViewText {
        font-size: 12px;
    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .mobileViewText {
        font-size: 15px;
    }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .mobileViewText {
        font-size: 12px;
    }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .mobileViewText {
        font-size: 16px;
    }
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .mobileViewText {
        font-size: 16px;
    }
}

.productNew {
    
    
}

.sideBarNew {
    height: 100vh;
    overflow-y: scroll;
}


/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
  background: #dadce0;
}

.modal-open {
  overflow: hidden;
}


/* sidebar css add */


/* The sidebar */
/* .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
   */
  /* The overlay */
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  /* The close button */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
                                                                                                                                                                                                                                                                                                                                        